<!DOCTYPE html>
  <html>
  <head>
    <title>Leet Speak</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Leet Speak</h1>
      <form class="form-group">
      <div>
         <label>Translate</label>
         <input>
       </div>
         <button>Translate</span></button>
      </form>
      <ul>
        <li><img src='http://www.gamehouse.com/blog/wp-content/themes/gamehouse/leet/images/leet-speak-og.jpg'/></li>

      </ul>
      <%= @display %>
  </body>
  </html>
